.menu-list {
  width: 224px;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: -16px;
    right: 12%;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-bottom-color: rgba(255, 255, 255);
  }
  .menu-item {
    margin-left: 0; // css lại margin-left cho các hàng thẳng vs nhau
    &.separate {
      border-top: 1px solid #ece9e9;
    }
  }
}

.menu-popper {
  display: flex;
  flex-direction: column;
  padding-bottom: 8px; // css PopperWrapper riêng cho trường hợp của Menu thông qua truyền prop className cho PopperWrapper
}
.menu-body {
  overflow-y: auto;
}
// Menu items
.menu-item {
  width: 100%;
  justify-content: flex-start;
  border-radius: 0; // do Button có css border nên phải bỏ đi
  padding: 11px 16px;
  line-height: 1.8rem; // fix chiều cao cho chiều cao các menu-item bằng nhau
  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }
  font-weight: 600;
}

// Header
.header {
  position: relative;
  height: 50px;
  margin-top: -8px;
  flex-shrink: 0;
}
.back-btn {
  width: 50px;
  height: 100%;
  background: transparent;
  cursor: pointer;
}
.header-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
