@import 'normalize.css';

:root {
  --primary-color: rgb(254, 44, 84);
  --black: #000;
  --text-color: #161823;
  --white: white;

  // DefaultLayout
  --default-layout-header-height: 60px;
  --default-layout-width: 1150px;
  --default-layout-horizontal-spacer: 24px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'TikTokFont', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed; //tối ưu tốc độ hiển thị font khi render
}
a[href] {
  color: var(--text-color);
  text-decoration: none;
}
button,
input,
[tabindex] {
  outline: none;
  border: none;
}

// Fonts embeded
@font-face {
  font-family: TikTokFont;
  src: url('/assets/fonts/TikTokFont-Regular.woff2');
  font-weight: 400;
}
@font-face {
  font-family: TikTokFont;
  src: url('/assets/fonts/TikTokFont-Semibold (1).woff2');
  font-weight: 600;
}

@font-face {
  font-family: TikTokFont;
  src: url('/assets/fonts/TikTokFont-Bold.woff2');
  font-weight: 700;
}

// Custom tooltip
body {
  .tippy-box {
    text-align: left;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.03px;
    background-color: rgba(84, 84, 84, 0.92);
    color: rgb(255, 255, 255);
  }
  .tippy-arrow {
    color: rgba(84, 84, 84, 0.92);
  }
  .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
    // Nhớ là lớp giả before
    top: -8px;
  }
  .tippy-content {
    padding: 8px 9px;
  }
}
